@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-base: 'Manrope', sans-serif;
	--font-oswald: 'Oswald', sans-serif;
	--font-inter: 'Inter', serif;
	--color-primary: #01da01;
	--color-secondary: #01bc01;
	--color-title: #001c32;
	--color-subtitle: #a3a3a3;
	--color-lightblue: #e2edff;
	--color-accent-blue: #0f61ef;
	--color-lightgray: #f7f7f7;
}

@layer base {
	body {
		@apply bg-lightgray;
		@apply font-base;
		font-optical-sizing: auto;
		font-style: normal;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-inter;
		font-optical-sizing: auto;
		font-style: normal;
	}
}
